#list-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

#list-box{
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    /* height: 500px; */
    width: 1000px;
    background-color: #FFF;
    color: black;
    border-radius:20px;
    margin-top: 20px;
}
#list-box table {
    padding: 10px;
}
#list-box th, #list-box td {
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
}

#list-box tr {
    padding: 10px;
}
#list-box th button {
    border: none;
    width:100%;
    height: 100%;
    border-radius: 20px;
    background: none;
    outline: none;
    cursor: pointer;
}

